<tr class="job">
  <td>
    <%= link_to application_job_path(@application, job.job_id, filter: { queue_name: job.queue }) do %>
      <%= job_title(job) %>
    <% end %>
    <div class="has-text-grey">Enqueued <%= time_distance_in_words_with_title(job.enqueued_at.to_datetime) %> ago</div>
  </td>
  <td>
    <% if job.serialized_arguments.present? %>
      <span class="is-family-monospace">
        <%= job_arguments(job) %>
      </span>
    <% end %>
  </td>
  <td>
    <div class="buttons is-right">
      <%= button_to "Discard", application_job_discard_path(@application, job.job_id), class: "button is-danger is-light is-small mr-0",
        form: { data: { turbo_confirm: "This will delete the job and can't be undone. Are you sure?" } } %>
    </div>
  </td>
</tr>
